* {
    background-color: rgb(204, 175, 96);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    text-align: center;
}

img {
    height: auto;
    width: 300px;
}

ul {
    list-style: none;
}

.list-of-recipes a {
    text-decoration: none;
    font-weight: bold;
}